ul.tabs:after, ul.tabs:before {
  display: table;
  content: "";
  clear: both;
}

/* =============================================================================
   Breakpoint Definitions
   ========================================================================== */
/* =============================================================================
    Color Definitions
   ========================================================================== */
/* =============================================================================
    Animations
   ========================================================================== */
/* =============================================================================
    Fonts
   ========================================================================== */
/* =============================================================================
    Forms
   ========================================================================== */
button, input[type="submit"] {
  font-size: 25px;
  font-size: 1.5625rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  max-width: 100%;
  -webkit-appearance: none;
  width: 100%;
}
@media (min-width: 700px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    width: auto;
  }
}

label {
  display: block;
}
label.error {
  color: red;
}

form .description {
  color: #999;
  font-style: italic;
  font-size: 14px;
}

.form-item {
  padding: 10px 0;
}

input[type="submit"] {
  margin-right: 10px;
}
input[type="submit"]:last-child {
  margin-right: 0;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin: 0;
}
@media (min-width: 700px) {
  .views-exposed-form .views-exposed-widget .form-submit {
    margin: 1.4em;
  }
}

.views-exposed-form .views-exposed-widget {
  float: none;
}
@media (min-width: 700px) {
  .views-exposed-form .views-exposed-widget {
    float: left;
  }
}

/* Make radio buttons inline */
.form-item.form-type-radio {
  display: inline-block;
  margin-right: 10px;
}
.form-item.form-type-radio:last-child {
  margin-right: 0;
}

/* =============================================================================
    Layouts
   ========================================================================== */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img, media {
  max-width: 100%;
  height: auto;
  border: 0;
}

table {
  width: 100%;
  border-color: none;
}
table .form-item {
  margin: 0;
  padding: 0;
}

tr.odd,
tr.even {
  background-color: transparent;
}

td {
  padding: 5px;
}

th {
  padding: 5px;
  background-color: #eee;
}

fieldset {
  margin: 5px 0;
}

/* =============================================================================
    Typography
   ========================================================================== */
html {
  font-size: 100%;
}

body {
  line-height: 1.7;
  margin: 0;
}

h1 {
  font-size: 32px;
  font-size: 2rem;
}

h2 {
  font-size: 28px;
  font-size: 1.75rem;
}

h3 {
  font-size: 22px;
  font-size: 1.375rem;
}

h4 {
  font-size: 18px;
  font-size: 1.125rem;
}

div, p, li, blockquote {
  font-size: 16px;
  font-size: 1rem;
}

/* =============================================================================
    Aside
   ========================================================================== */
/* =============================================================================
    Branding
   ========================================================================== */
/* =============================================================================
    Comments
   ========================================================================== */
/* =============================================================================
    Footer Section
   ========================================================================== */
/* =============================================================================
    Drupal's Messages
   ========================================================================== */
/* =============================================================================
    Primary Navigation
   ========================================================================== */
#block-system-main-menu {
  position: relative;
  display: inline-block;
}
#block-system-main-menu ul, #block-system-main-menu li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#block-system-main-menu .menu-item-link {
  text-decoration: none;
  display: block;
}

#block-system-main-menu .menu-item {
  float: left;
  position: relative;
}
#block-system-main-menu .menu-item:hover .menu {
  display: block;
}
#block-system-main-menu .menu-item .menu {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 100;
}
#block-system-main-menu .menu-item-link--level-1 {
  color: white;
  padding: 15px 20px;
  background: #999999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#block-system-main-menu .menu-item-link--level-1:hover {
  color: white;
  background: #aaaaaa;
}
#block-system-main-menu .menu-item-link--level-2 {
  background: #aaaaaa;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
  padding: 15px;
  width: 200px;
  line-height: 1.1;
  box-sizing: border-box;
}
#block-system-main-menu .menu-item-link--level-2:hover {
  color: white;
  background: #bbbbbb;
}

@media (min-width: max-width) and ("no-query" true: 900px) {
  #block-system-main-menu {
    width: 100%;
    padding: 50px 0 0;
  }
  #block-system-main-menu .menu {
    display: none;
  }
  #block-system-main-menu .menu-item {
    width: 100%;
    float: none;
  }
  #block-system-main-menu .menu-item:hover .menu {
    display: none;
  }
  #block-system-main-menu .menu-item .menu {
    position: static;
    width: 100%;
  }
  #block-system-main-menu .menu-item-link {
    padding: 15px;
    width: 100% !important;
  }

  .nav-mobile {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: #3D3D3B;
    height: 50px;
    width: 50px;
  }
  .nav-mobile:before {
    font-family: "FontAwesome";
    display: block;
    content: "\f0c9";
    color: white;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
  }

  .nav-click {
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: 100%;
    width: 50px;
    cursor: pointer;
  }
  .nav-click i {
    display: block;
    height: 48px;
    width: 48px;
    font-style: normal;
  }
  .nav-click i:before {
    font-family: "FontAwesome";
    display: block;
    content: "\f106";
    color: white;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
  }
  .nav-click:hover {
    background-color: #aaa;
  }

  .nav-arrow {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .nav-rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
/* =============================================================================
    Drupal's Pager
   ========================================================================== */
/* =============================================================================
    Drupal's Tabs (Split by Breakpoint)
   ========================================================================== */
@media (min-width: 0) and ("no-query" true: 700px) {
  ul.tabs {
    background-color: #eee;
    border-bottom: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding-bottom: 1px;
    display: table-row;
  }
  ul.tabs > li {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    float: none;
    line-height: 1.2;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    border-right: solid 1px white;
    position: relative;
    padding: 20px 0;
  }
  ul.tabs > li:first-child:nth-last-child(2n), ul.tabs > li:first-child:nth-last-child(2n) ~ li, ul.tabs > li:first-child:nth-last-child(4n), ul.tabs > li:first-child:nth-last-child(4n) ~ li {
    width: 50%;
  }
  ul.tabs > li:first-child:nth-last-child(3n), ul.tabs > li:first-child:nth-last-child(3n) ~ li {
    width: 33.33%;
  }
  ul.tabs > li.active {
    background-color: #ccc;
  }
  ul.tabs > li.active:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }
  ul.tabs > li:last-child {
    border: none;
  }
  ul.tabs > li a {
    text-decoration: none;
    background-color: transparent;
    display: block;
  }
  ul.tabs > li a:hover {
    background-color: transparent;
    color: #666;
  }
}
@media (min-width: 700px) {
  ul.tabs {
    margin-bottom: 1em;
    border-bottom: 1px solid #bbb;
    padding: 0;
  }
  ul.tabs > li {
    list-style: none;
    float: left;
    margin-right: 1em;
    background-color: #eee;
  }
  ul.tabs > li.active {
    background-color: #ccc;
  }
  ul.tabs > li a {
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    width: 100%;
  }
}
