/* =============================================================================
    Style definitions for IE9 and below
   ========================================================================== */