/* =============================================================================
    Style definitions for IE7 and below
   ========================================================================== */