//
// Sitewide color variables
//

$gray: #282828;
$graylight: #5f5f5f;
$purplepink: #AD2383;
$purple: #6F1650;
$gold: #FFCC05;
$red: #BB2527;
$reddark: #991B1E;
$redlight: #EE3933;
$yellow:  #F6DA00;

$border-gray: #ccc;
$graydark: #231819;
