
/* =============================================================================
    Primary Navigation
   ========================================================================== */

// reset
#block-system-main-menu {
  position: relative;
  display: inline-block;
  ul, li {
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    display: block;
  }
}


// desktop navigation 
#block-system-main-menu li {
  float: left;
  position: relative;
  > a {
    color: $nav-text;
    padding: 15px 20px;
    background: $nav-background;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    &:hover {
      color: $nav-hover-text;
      background: $nav-hover-background;
    }
  }

  &:hover .menu {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 100;
    a {
      background: $sub-nav-background;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      display: block;
      padding: 15px;
      width: 200px;
      line-height: 1.1;
      box-sizing: border-box;
    }
    a:hover {
      color: $sub-nav-hover-text;
      background: $sub-nav-hover-background;
    }
  }  
}


// mobile navigation
@include breakpoint (max-width $tablet_wide) {

   #block-system-main-menu {
    width: 100%;
    padding: 50px 0 0;
    .menu {
      display: none;
      li {
        width: 100%;
        float: none;
        &:hover .menu {
          display: none;
        }
        .menu {
          position: static;
          width: 100%;
        }
      }
      a {
        padding: 15px;
        width: 100%!important;
      }
    }
  }

  .nav-mobile { // .nav-mobile is the icon that activates mobile nav
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      background: #3D3D3B;
      height: 50px;
      width: 50px;
      &:before {
        font-family: "FontAwesome";
        display: block;
        content: "\f0c9";
        color: white;
        font-size: 25px;
        line-height: 50px;
        text-align: center;
      }
    }

  .nav-click { // .nav-click is the icon that exposes mobile submenu structure
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: 100%;
    width: 50px;
    cursor: pointer;
    i {
      display: block;
      height: 48px;
      width: 48px;
      font-style: normal;
      &:before {
        font-family: "FontAwesome";
        display: block;
        content: "\f106";
        color: white;
        font-size: 35px;
        line-height: 42px;
        text-align: center;
      }
    }
    &:hover {
      background-color: #aaa;
    }
  }
  
  .nav-arrow {
    @include transition(all .5s);
  }
  .nav-rotate {
    @include transform(rotate(180deg));
  }
}