

/* =============================================================================
    Drupal's Tabs (Split by Breakpoint)
   ========================================================================== */

ul.tabs {
  @extend %clearfix;
}

@include breakpoint(0 $tablet_narrow) {
  ul.tabs {
    background-color: #eee;
    border-bottom: none;
    @include box-sizing(content-box);
    padding-bottom: 1px;
    display: table-row;
    > li {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      float: none;
      line-height: 1.2;
      margin: 0;
      text-align: center;
      text-transform: capitalize;
      border-right: solid 1px white;
      position: relative;
      padding: 20px 0;
      &:first-child:nth-last-child(2n),
      &:first-child:nth-last-child(2n) ~ li, 
      &:first-child:nth-last-child(4n),
      &:first-child:nth-last-child(4n) ~ li {
        width: 50%;
      }
      &:first-child:nth-last-child(3n),
      &:first-child:nth-last-child(3n) ~ li {
        width: 33.33%;
      }
      &.active {
        background-color: #ccc;
          &:after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          left: 50%;
          bottom: 0;
          margin-left: -10px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #fff;
          }
      }
      &:last-child {
        border: none;
      }
      a {
        text-decoration: none;
        background-color: transparent;
        display: block;
        &:hover {
          background-color: transparent;
          color: #666;
        }
      }
    }
  }
  // End breakpoint max-width tablet_narrow
}

@include breakpoint($tablet_narrow) {
  ul.tabs {
    margin-bottom: 1em;
    border-bottom: 1px solid #bbb;
    padding: 0;
    > li {
      list-style: none;
      float: left;
      margin-right: 1em;
      background-color: #eee;
      &.active {
        background-color: #ccc;
      }
      a {
        text-decoration: none;
        display: block;
        padding: 5px 10px;
        width: 100%;
      }
    }
  }
}

