
/* =============================================================================
   Breakpoint Definitions
   ========================================================================== */


// All rules defined in media queries will also be put into no-query.scss for non-media query browsers.

$wide: 1700px, 'no-query' true;
$normal: 1200px, 'no-query' true;
$tablet_wide: 900px, 'no-query' true;
$tablet_narrow: 700px, 'no-query' true;
$smartphone_wide: 480px, 'no-query' true;
