
/* =============================================================================
   Breakpoint Definitions
   ========================================================================== */

$wide: 106em; // 1696px
$normal: 75em; // 1200px
$tablet_wide: 56em; // 896px
$tablet_narrow: 43em; // 688px
$smartphone_wide: 30em; // 480px
