
/* =============================================================================
   Breakpoint Definitions
   ========================================================================== */

$wide: 1700px;
$normal: 1200px;
$tablet_wide: 900px;
$tablet_wide_1: 950px;
$tablet_narrow: 700px;
$smartphone_wide: 470px;
