
/* =============================================================================
    Color Definitions
   ========================================================================== */


// Navigation color definitions

// normal
$nav-text: white;
$nav-background: #999;

// Hover
$nav-hover-text: $nav-text;
$nav-hover-background: #aaa;

// Sub navigation
$sub-nav-text: $nav-text;
$sub-nav-background: #aaa;
$sub-nav-hover-text: $nav-text;

// Sub navigation hover
$sub-nav-hover-text: $nav-text;
$sub-nav-hover-background: #bbb;
$sub-nav-hover-hover-text: $nav-text;