

/* =============================================================================
    Forms
   ========================================================================== */

button {
  @include font-size(25px);
  &:hover {
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  max-width: 100%;
  -webkit-appearance:none;
  width: 100%;
  @include breakpoint($tablet_narrow) {
    width: auto;
  }
  &:focus {
  }
}

label {
  display: block;
  &.error { // For Clientside Validation module errors
    color: red;
  }
}

form {
  .description {
    color: #999;
    font-style: italic;
    font-size: 14px;
  }
}

.form-item {
  padding: 10px 0;
}

input[type="submit"] {
  @extend button;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

// Views Exposed Forms 
.views-exposed-form .views-exposed-widget .form-submit {
  margin: 0;
  @include breakpoint($tablet_narrow) {
    margin: 1.4em;
  }
}

.views-exposed-form .views-exposed-widget {
  float: none;
  @include breakpoint($tablet_narrow) {
    float: left;
  }
}

/* Make radio buttons inline */

.form-item.form-type-radio {
  display: inline-block;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
