/**
 * Tabs
 */

ul.tabs {
  @include clearfix;
}

@include breakpoint(max-width $tablet_narrow) {
  ul.tabs {
    background-color: #eee;
    border-bottom: none;
    box-sizing: content-box;
    padding-bottom: 1px;
    display: table-row;

    > li {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      float: none;
      line-height: 1.2;
      margin: 0;
      text-align: center;
      text-transform: capitalize;
      border-right: solid 1px white;
      position: relative;
      padding: 20px 5px;
      font-size: 16px;

      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ li, {
        width: 50%;
      }

      &:first-child:nth-last-child(3),
      &:first-child:nth-last-child(3) ~ li {
        width: 33.33%;
      }

      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ li {
        width: 25%;
      }

      &:first-child:nth-last-child(5),
      &:first-child:nth-last-child(5) ~ li {
        width: 20%;
      }

      &.active {
        background-color: #ccc;

          &:after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          left: 50%;
          bottom: 0;
          margin-left: -10px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #fff;
          }
      }

      &:last-child {
        border: none;
      }

      a {
        font-weight: normal;
        text-decoration: none;
        background-color: transparent;
        display: block;

        &:hover {
          background-color: transparent;
          color: black;
        }
      }
    }
  }
}


@include breakpoint($tablet_narrow) {
  ul.tabs {
    margin: 10px 0 2px 0;
    border-bottom: 1px solid #bbb;
    padding: 0;

    > li {
      list-style: none;
      float: left;
      margin-right: 1em;
      background-color: #eee;
      font-size: 16px;

      &.active {
        background-color: #ccc;
      }

      a {
        text-decoration: none;
        display: block;
        padding: 5px 10px;
        width: 100%;

        &:hover {
          color: black;
        }
      }
    }
  }
}

