/**
 * When a news article has a video, a tag is displayed in certain listing pages.
 */

.article-video {
  @extend %icon-users-video-icon;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $yellow;
  color: $purplepink;
  padding: 5px 20px 5px 20px;
  margin-right: 10px;
  &:before {
    display: block;
    float: left;
    margin-top: 1px;
  }
}
