/**
 * Base form styles
 */

label {
  display: block;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  border: 1px solid $border-gray;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 10px 20px;
  max-width: 100%;
  background: white;
  outline: none;
  transition: background .2s;
  border-radius: 20px;
  &:focus {
    background: #eee;
  }
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  max-width: 100%;
}
%button,
input[type="submit"] {
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 10px 20px;
  transition: background .2s;
}
.form-item {
  margin-bottom: 20px;
}
.description {
  font-size: 16px;
}
