/**
 * Icons
 */

// All Icons
%icon-annenberg {
  &:before {
    display: inline-block;
    margin-right: 10px;
    font-family: 'icon-annenberg';
    color: currentColor;
    speak: none;
    text-indent: 0;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
%icon-only { // Text is hidden and only icon displays
  position: relative;
  display: inline-block;
  margin-right: 0;
  min-width: 50px;
  font-size: 20px;
  line-height: 1;
  @include hide-text;
  &:before {
    position: absolute;
    display: block;
    @include center;
  }
}
%icon-annenberg-circle { // A circle appears around the icon
  @extend %icon-only;
  line-height: 50px;
  &:after {
    position: absolute;
    content: "";
    border-radius: 50%;
    border: 1px solid currentColor;
    @include center;
    width: 50px;
    height: 50px;
  }
}

// Icon content
%icon-events {
  @extend %icon-annenberg;
  &:before {
    content: "\e623";
  }
}
%icon-news {
  @extend %icon-annenberg;
  &:before {
    content: "\e61e";
  }
}
%icon-icon-hamburger {
  @extend %icon-annenberg;
  @extend %icon-only;
  &:before {
    content: "\e61f";
  }
}
%icon-icon-chevron-double {
  @extend %icon-annenberg;
  &:before {
    content: "\e620";
  }
}
%icon-icon-search {
  @extend %icon-annenberg;
  @extend %icon-only;
  &:before {
    content: "\e621";
  }
}
%icon-users-flickr-icon {
  @extend %icon-annenberg;
  &:before {
    content: "\e600";
  }
}
%icon-users-snap-icon {
  @extend %icon-annenberg;
  &:before {
    content: "\e601";
  }
}
%icon-users-twitter-icon {
  @extend %icon-annenberg;
  &:before {
    content: "\e602";
  }
}
%icon-users-video-icon {
  @extend %icon-annenberg;
  &:before {
    content: "\e603";
  }
}
%icon-users-youtube-icon {
  @extend %icon-annenberg;
  &:before {
    content: "\e604";
  }
}
%icon-users-pinterest-icon {
  @extend %icon-annenberg;
  &:before {
    content: "\e605";
  }
}
%icon-users-linkedin-icon {
  @extend %icon-annenberg;
  &:before {
    content: "\e606";
  }
}
%icon-users-fb-icon {
  @extend %icon-annenberg;
  &:before {
    content: "\e607";
  }
}
%icon-quoted-icon {
  @extend %icon-annenberg;
  &:before {
    content: "\e608";
  }
}
%icon-discoveries-icon {
  @extend %icon-annenberg;
  &:before {
    content: "\e609";
  }
}
%icon-users-pdf-icon {
  @extend %icon-annenberg;
  &:before {
    content: "\e60a";
  }
}
%icon-users-insta-icon {
  @extend %icon-annenberg;
  &:before {
    content: "\e60b";
  }
}
%icon-users-academia-icon {
  @extend %icon-annenberg;
  &:before {
    content: "\e60c";
  }
}
%icon-star-icon {
  @extend %icon-annenberg;
  &:before {
    content: "\e60d";
  }
}
%icon-author-icon {
  @extend %icon-annenberg;
  &:before {
    content: "\e60e";
  }
}
%icon-bank {
  @extend %icon-annenberg;
  &:before {
    content: "\e60f";
  }
}
%icon-tablet-ipad {
  @extend %icon-annenberg;
  &:before {
    content: "\e610";
  }
}
%icon-newspaper {
  @extend %icon-annenberg;
  &:before {
    content: "\e611";
  }
}
%icon-file-document-box {
  @extend %icon-annenberg;
  &:before {
    content: "\e612";
  }
}
%icon-laptop-chromebook {
  @extend %icon-annenberg;
  &:before {
    content: "\e613";
  }
}
%icon-school { // Cap / Hat
  @extend %icon-annenberg;
  &:before {
    content: "\e614";
  }
}
%icon-google-plus {
  @extend %icon-annenberg;
  &:before {
    content: "\e615";
  }
}
%icon-link {
  @extend %icon-annenberg;
  &:before {
    content: "\e616";
  }
}
%icon-bookmark-outline {
  @extend %icon-annenberg;
  &:before {
    content: "\e617";
  }
}
%icon-clock {
  @extend %icon-annenberg;
  &:before {
    content: "\e618";
  }
}
%icon-linkedin {
  @extend %icon-annenberg;
  &:before {
    content: "\e619";
  }
}
%icon-youtube-play {
  @extend %icon-annenberg;
  &:before {
    content: "\e61a";
  }
}
%icon-play-circle-outline {
  @extend %icon-annenberg;
  &:before {
    content: "\e61b";
  }
}
%icon-arrow-right {
  @extend %icon-annenberg;
  &:before {
    content: "\e61c";
  }
}
%icon-video {
  @extend %icon-annenberg;
  &:before {
    content: "\e61d";
  }
}
%icon-envelope {
  @extend %icon-annenberg;
  &:before {
    content: "\e622";
  }
}
%icon-calendar {
  @extend %icon-annenberg;
  &:before {
    position: relative;
    top: 3px;
    margin-right: 0;
    content: "\e623";
  }
}
%icon-location {
  @extend %icon-annenberg;
  &:before {
    position: relative;
    top: 3px;
    margin-right: 0;
    content: "\e624";
  }
}
%icon-icon-banner {
  background-image: url('../icons/icon-banner.svg');
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 18px;
}
