%clearfix {
  &:after,
  &:before {
    display: table;
    content: "";
    clear: both;
  }
}

  // Set a rem font size with pixel fallback
  // http://www.stubbornella.org/content/2013/07/01/easy-peasy-rem-conversion-with-sass/

  // This mixin has all the benefits of em but you don’t get issues since rem is only relative 
  // to the HTML element. 

  // # Usage

  //   p {
  //     @include font-size(14px)
  //   }

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

  // SVG background images with PNG and retina fallback

  // Depends on Modernizr. You need one .svg file, that will serve as 
  // the default background image. You’ll also need a regular .png that serves 
  // as a fallback for non-svg-supporting browsers. And last you need a twice 
  // as large .png as a second fallback to retina screens.

  //   * pattern.svg
  //   * pattern.png
  //   * pattern@2x.png

  // # Usage

  // body {
  //   @include background-image('pattern');
  // }

$image-path: '../images' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
@mixin background-image($name, $size:false){
    background-image: url(#{$image-path}/#{$name}.svg);
    @if($size){
        background-size: $size;
    }
    .no-svg &{
        background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
          background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
        }
    }
}